node_modules
.idea/workspace.xml
.vscode
.apiconnect
data/db

data/source/nist-injest-script/*.xml
dist
yarn-error.log
tsconfig.tsbuildinfo
*.ignore*

# Excel temp files
~$*.xlsx

# MacOS specific
.DS_Store
*.iml
